// Specific CSS for your home-page
.main-page {
display: grid;
grid-template-columns: 1fr 1fr;
}

.left {
  background-color: aqua;
  height: 600px;
}

.right {
  background-color: rgb(225, 52, 159);
  height: 600px;
}
